body {
	margin: 0;
}

.banner-container {
	width: 970px;
	height: 250px;
	text-align: center;
	background-color: black;
}

.banner-container video {
	background-color: black;
}

.player-button {
	background-size: 100% 100%;
    -o-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.button-replay {
	background: url('img/replay.png');
	left: 422px;
	top: 60px;
	width: 127px;
	height: 126px;
	display: none;
}

.button-play {
	background: url('img/play.png');
	left: 269px;
	top: 187px;
	width: 48px;
	height: 48px;
	display: none;
}

.button-pause {
	background: url('img/pause.png');
	left: 269px;
	top: 187px;
	width: 48px;
	height: 48px;
	display: none;
}

.button-mute {
	background: url('img/mute.png');
    left: 662px;
    top: 199px;
    width: 36px;
    height: 36px;
    display: none;
}

.button-unmute {
	background: url('img/unmute.png');
    left: 662px;
    top: 199px;
    width: 36px;
    height: 36px;
    display: none;
}

progress {
	position: absolute;
	bottom: 0;
	left: 262px;
	width: 444px;
	/* TODO: make a cool style of a progress bar */
}