@import "../../styles/mixins";

.image {
  margin-right: 50px;
  background-image: url(../../assets/images/sergey.png);
  background-size: cover; background-position: center;
  width: 507px;
}

.projects {
  padding-top: 1em;
}

.title {
  font-size: 1.12em;
  font-weight: lighter;
  margin-bottom: 1.8em;
  text-transform: capitalize;
  @include respond(medium, false) {
    margin-bottom: .6em;
  }
}

.list {
  li {
    font-size: .88em;
    margin-bottom: .86em;
    font-weight: lighter;
    @include respond(large, false) {
      line-height: 1.4em;
      font-size: .8em;
    }
    a {
      font-weight: bold;
      opacity: .9;
      text-decoration: none;
      transition: opacity 150ms;
      &:hover { opacity: 1; }
    }
  }
}

.container-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
