html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: white; }

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url(/static/media/helvetica-neue-lt-thin.aac7c0fc.eot);
  src: url(/static/media/helvetica-neue-lt-thin.aac7c0fc.eot?#iefix) format("embedded-opentype"), url(/static/media/helvetica-neue-lt-thin.f25d4f0e.woff) format("woff"), url(/static/media/helvetica-neue-lt-thin.957c7a8c.otf) format("opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url(/static/media/helvetica-neue-lt-light.f373868c.eot);
  src: url(/static/media/helvetica-neue-lt-light.f373868c.eot?#iefix) format("embedded-opentype"), url(/static/media/helvetica-neue-lt-light.4ddbadcb.woff) format("woff"), url(/static/media/helvetica-neue-lt-light.06137036.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url(/static/media/helvetica-neue-lt-bold.f16f6414.eot);
  src: url(/static/media/helvetica-neue-lt-bold.f16f6414.eot?#iefix) format("embedded-opentype"), url(/static/media/helvetica-neue-lt-bold.417e7d97.woff) format("woff"), url(/static/media/helvetica-neue-lt-bold.9ac7e2ff.otf) format("opentype");
  font-weight: bold;
  font-style: normal; }

body, html {
  scrollbar-face-color: ThreeDFace !important;
  scrollbar-shadow-color: ThreeDDarkShadow !important;
  scrollbar-highlight-color: ThreeDHighlight !important;
  scrollbar-3dlight-color: ThreeDLightShadow !important;
  scrollbar-darkshadow-color: ThreeDDarkShadow !important;
  scrollbar-track-color: Scrollbar !important;
  scrollbar-arrow-color: ButtonText !important; }

html {
  font-size: 16px;
  overflow: hidden;
  background-color: #1B1B1B; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 18px;
      overflow: initial; } }

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'HelveticaNeueLT';
  font-weight: normal;
  font-size: 1rem; }
.style__root-container__29llH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .style__root-container__29llH {
      height: initial; } }
.style__header-container__1Alpq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 90px;
  min-height: 120px;
  max-height: 120px; }
  @media screen and (max-width: 1200px) {
    .style__header-container__1Alpq {
      padding: 0 40px; } }
  @media screen and (max-width: 1023px) {
    .style__header-container__1Alpq {
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .style__header-container__1Alpq {
      padding: 0 10px;
      min-height: 70px; } }
  @media screen and (max-width: 600px) {
    .style__header-container__1Alpq {
      padding: 0 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 70px;
      margin-top: 10px;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.style__logo__2O85F {
  font-weight: bold;
  font-size: 1.12em; }
  .style__logo__2O85F a {
    text-decoration: none; }
  @media screen and (max-width: 600px) {
    .style__logo__2O85F {
      margin-bottom: 10px; } }

.style__divider__2ROhm {
  margin: 0 2em;
  height: 2.4em;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6); }
  @media screen and (max-width: 600px) {
    .style__divider__2ROhm {
      display: none; } }

.style__item__140nq {
  font-size: .8em;
  font-weight: lighter;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
  cursor: pointer;
  opacity: .65;
  text-decoration: none;
  text-transform: capitalize; }
  .style__item__140nq:hover {
    opacity: 1; }
  .style__item__140nq.style__is-active__3o1G_ {
    opacity: 1;
    cursor: default; }

.style__coma__8k3Ks {
  opacity: .65; }
.style__container__1H1am {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 90px;
  min-height: 120px;
  max-height: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .style__container__1H1am {
      padding: 0 40px; } }
  @media screen and (max-width: 1023px) {
    .style__container__1H1am {
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .style__container__1H1am {
      padding: 0 10px;
      margin: 20px 0;
      min-height: initial; } }

.style__item__1pfEc {
  margin-bottom: 8px;
  font-size: .8em; }
  .style__item__1pfEc:last-child {
    margin-bottom: 0; }
.style__container__146RD {
  padding: 0 90px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 1200px) {
    .style__container__146RD {
      padding: 0 40px; } }
  @media screen and (max-width: 1023px) {
    .style__container__146RD {
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .style__container__146RD {
      padding: 0 10px; } }
.style__image__n5Ibj {
  margin-right: 50px;
  background-image: url(/static/media/sergey.bd656cac.png);
  background-size: cover;
  background-position: center;
  width: 507px; }

.style__projects__3nrbH {
  padding-top: 1em; }

.style__title__1yWUU {
  font-size: 1.12em;
  font-weight: lighter;
  margin-bottom: 1.8em;
  text-transform: capitalize; }
  @media screen and (max-width: 600px) {
    .style__title__1yWUU {
      margin-bottom: .6em; } }

.style__list__eSIP_ li {
  font-size: .88em;
  margin-bottom: .86em;
  font-weight: lighter; }
  @media screen and (max-width: 767px) {
    .style__list__eSIP_ li {
      line-height: 1.4em;
      font-size: .8em; } }
  .style__list__eSIP_ li a {
    font-weight: bold;
    opacity: .9;
    text-decoration: none;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms; }
    .style__list__eSIP_ li a:hover {
      opacity: 1; }

.style__container-inner__2Q9Lx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.style__container-inner__E6_Mu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.style__top__OI5wH {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2em; }
  @media screen and (max-width: 767px) {
    .style__top__OI5wH {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.style__desc__1tMHH {
  max-width: 340px;
  padding-top: 1em; }
  @media screen and (min-width: 767px) {
    .style__desc__1tMHH {
      margin-right: 1.8em; } }

.style__title__TEglP {
  font-size: 1.12em;
  margin-bottom: 1em; }

.style__text__Sg7OC {
  font-size: .88em;
  margin-bottom: 1em;
  font-weight: lighter;
  line-height: 1.4em; }

.style__list__1eykw ul li {
  font-size: .88em;
  margin-bottom: .8em;
  font-weight: lighter; }
  .style__list__1eykw ul li:last-child {
    margin-bottom: 0; }
  .style__list__1eykw ul li > span {
    text-transform: capitalize; }
    .style__list__1eykw ul li > span:after {
      content: ', '; }
    .style__list__1eykw ul li > span:last-child:after {
      content: ''; }

.style__content__1-Uy6 {
  width: 60%;
  overflow: overlay;
  height: 100vh;
  margin-top: -120px; }
  @media screen and (max-width: 767px) {
    .style__content__1-Uy6 {
      height: initial;
      width: 100%;
      margin-top: 0;
      overflow: initial; } }

.style__content-inner__1G2MB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }
  @media screen and (max-width: 600px) {
    .style__content-inner__1G2MB {
      padding-top: 0; } }

.style__img__3HL8m {
  margin-top: 2em; }
  .style__img__3HL8m img {
    width: 100%;
    height: 60vh;
    -o-object-fit: contain;
    object-fit: contain; }
    @media screen and (max-width: 1200px) {
      .style__img__3HL8m img {
        height: initial; } }

.style__music__NxKIH {
  width: 100%; }

.style__music-item__1dpt1 {
  margin-top: 30px; }
  .style__music-item__1dpt1:last-child {
    padding-bottom: 30px; }

.style__role__3aSIT b {
  display: block; }

.style__navigation__3bUqX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2em; }
  .style__navigation__3bUqX .style__prev__2n-AJ, .style__navigation__3bUqX .style__next__2I-uH {
    opacity: .6;
    font-size: .88em;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
    cursor: pointer; }
    .style__navigation__3bUqX .style__prev__2n-AJ:hover, .style__navigation__3bUqX .style__next__2I-uH:hover {
      opacity: 1; }
@-webkit-keyframes style__ball-scale-pulse__1yp3E {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes style__ball-scale-pulse__1yp3E {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.style__la-ball-scale-pulse__3LddA,
.style__la-ball-scale-pulse__3LddA > div {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.style__la-ball-scale-pulse__3LddA {
  display: block;
  font-size: 0;
  color: #fff; }

.style__la-ball-scale-pulse__3LddA.style__la-dark__2EWgN {
  color: #333; }

.style__la-ball-scale-pulse__3LddA > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.style__la-ball-scale-pulse__3LddA {
  width: 32px;
  height: 32px;
  opacity: .1; }

.style__la-ball-scale-pulse__3LddA > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: style__ball-scale-pulse__1yp3E 3s infinite ease-in-out;
  animation: style__ball-scale-pulse__1yp3E 3s infinite ease-in-out; }

.style__la-ball-scale-pulse__3LddA > div:last-child {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.style__la-ball-scale-pulse__3LddA.style__la-sm__gCgUw {
  width: 16px;
  height: 16px; }

.style__la-ball-scale-pulse__3LddA.style__la-sm__gCgUw > div {
  width: 16px;
  height: 16px; }

.style__la-ball-scale-pulse__3LddA.style__la-2x__2cYXs {
  width: 64px;
  height: 64px; }

.style__la-ball-scale-pulse__3LddA.style__la-2x__2cYXs > div {
  width: 64px;
  height: 64px; }

.style__la-ball-scale-pulse__3LddA.style__la-3x__25fsw {
  width: 96px;
  height: 96px; }

.style__la-ball-scale-pulse__3LddA.style__la-3x__25fsw > div {
  width: 96px;
  height: 96px; }
.style__container__2o9C8 {
  background-color: #1B1B1B;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  .style__container__2o9C8.style__is-hidden__8zFab {
    opacity: 0; }

@-webkit-keyframes style__blink__3estE {
  0% {
    opacity: .3; }
  100% {
    opacity: 1; } }

@keyframes style__blink__3estE {
  0% {
    opacity: .3; }
  100% {
    opacity: 1; } }

.style__logo__35WSj {
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: .7;
  -webkit-animation: style__blink__3estE 3s infinite alternate;
  animation: style__blink__3estE 3s infinite alternate; }
  .style__logo__35WSj span:first-child {
    margin-bottom: 10px; }
  .style__logo__35WSj span:last-child {
    font-size: 12px; }

/*# sourceMappingURL=main.0716f068.css.map*/