$breakpoints: (
  smallest: 320px,
  small: 480px,
  medium: 600px,
  large: 767px,
  xLarge: 1023px,
  xxLarge: 1200px,
  xxxLarge: 1350px
) !default;


@mixin respond($size, $mobileFirst: true) {
  @if map-has-key($breakpoints, $size) {
    $value: map-get($breakpoints, $size);

    @if($mobileFirst) {
      @media screen and (min-width: $value) {
        @content;
      }
    } @else {
      @media screen and (max-width: $value) {
        @content;
      }
    }
  } @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
  }
}
