@import "../../styles/mixins";

.container {
  padding: 0 90px;
  @include respond(xxLarge, false) {
    padding: 0 40px;
  }
  @include respond(xLarge, false) {
    padding: 0 20px;
  }
  @include respond(large, false) {
    padding: 0 10px;
  }
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
