.container-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.top {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.desc {
  max-width: 340px;
  padding-top: 1em;
}

.title {
  font-size: 1.12em;
  margin-bottom: 1em;
}

.text {
  font-size: .8em;
  margin-bottom: 1em;
  font-weight: lighter;
  line-height: 1.4em;
}

.list {
  ul {
    li {
      font-size: .8em;
      margin-bottom: .4em;
      font-weight: lighter;
      &:last-child { margin-bottom: 0; }
    }
  }
}

.content {
  width: 60%;
  overflow: overlay;
  height: 100vh;
  margin-top: -120px;
}

.content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.img {
  margin-top: 2em;
  img {
    max-width: 100%;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  .prev, .next {
    opacity: .6;
    font-size: .8em;
    transition: opacity 150ms;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.prev {

}

.next {

}
