@import "../../styles/mixins";

.container-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.top {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  @include respond(large, false) {
    flex-direction: column;
  }
}

.desc {
  max-width: 340px;
  padding-top: 1em;
}

.title {
  font-size: 1.12em;
  margin-bottom: 1em;
}

.text {
  font-size: .88em;
  margin-bottom: 1em;
  font-weight: lighter;
  line-height: 1.4em;
}

.list {
  ul {
    li {
      font-size: .88em;
      margin-bottom: .8em;
      font-weight: lighter;
      &:last-child { margin-bottom: 0; }
      > span {
        text-transform: capitalize;
        &:after {
          content: ', ';
        }
        &:last-child {
         &:after {
           content: '';
         }
        }
      }
    }
  }
}

.content {
  width: 60%;
  overflow: overlay;
  height: 100vh;
  margin-top: -120px;
  @include respond(large, false) {
    height: initial;
    width: 100%;
    margin-top: 0;
  }
}

.content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  @include respond(medium, false) {
    padding-top: 0;
  }
}

.img {
  margin-top: 2em;
  img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
  }
}

.music {
  width: 100%;
}

.music-item {
  margin-top: 30px;
  &:last-child { padding-bottom: 30px; }
}

.role {
  b {
    display: block;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  .prev, .next {
    opacity: .6;
    font-size: .8em;
    transition: opacity 150ms;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.prev {

}

.next {

}
