@import "../../styles/mixins";

.header-container {
  display: flex;
  align-items: center;
  padding: 0 90px;
  min-height: 120px;
  max-height: 120px;
  @include respond(xxLarge, false) {
    padding: 0 40px;
  }
  @include respond(xLarge, false) {
    padding: 0 20px;
  }
  @include respond(medium, false) {
    padding: 0 10px;
    flex-direction: column;
    min-height: 70px;
    align-items: baseline;
    justify-content: center;
  }
}

.logo {
	font-weight: bold;
  font-size: 1.12em;
  a {
    text-decoration: none;
  }
  @include respond(medium, false) {
    margin-bottom: 10px;
  }
}

.divider {
  margin: 0 2em;
  height: 2.4em;
  width: 1px;
  background-color: rgba(255, 255, 255, .6);
  @include respond(medium, false) {
    display: none;
  }
}

.menu {
}

.item {
  font-size: .8em;
  font-weight: lighter;
  transition: opacity 150ms;
  cursor: pointer;
  opacity: .65;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    opacity: 1;
  }
  &.is-active {
    opacity: 1;
    cursor: default;
  }
}

.coma {
  opacity: .65;
}
