.container {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  min-height: 120px;
  max-height: 120px;
  justify-content: center;
}

.item {
  margin-bottom: 8px;
  font-size: .8em;
  &:last-child { margin-bottom: 0; }
}
