@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  min-height: 120px;
  max-height: 120px;
  justify-content: center;
  @include respond(xxLarge, false) {
    padding: 0 40px;
  }
  @include respond(xLarge, false) {
    padding: 0 20px;
  }
  @include respond(large, false) {
    padding: 0 10px;
    margin-bottom: 20px;
    min-height: initial;
  }
}

.item {
  margin-bottom: 8px;
  font-size: .8em;
  &:last-child { margin-bottom: 0; }
}
