@import "../../styles/mixins";

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  @include respond(large, false) {
    height: initial;
  }
}
